<%= form_with(model: task, local:true) do |f| %>
    
    <%= render 'layouts/error_messages', model: f.object %><%# エラーメッセージをrenderで呼び出す%>
    
    <div><%= f.label :content, 'タスク' %><%= f.text_field :content %></div>
    <div><%= f.label :status, 'ステータス' %><%= f.text_field :status %></div>
    <%= f.submit '編集完了' %>
    
<% end %>